.text-center {
  text-align: center;
}

.relevant {
  border: 2px dashed #c00;
  padding: 1%;
  border-radius: 5px;
  text-align: center;
}

.card {
  background-color: #c00;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 1%;
}
